* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-color: #ffac68;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    clear: both;
    margin: 0 auto;
    padding: 0 10px;
}

.container {
    margin: 25px auto;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {

    color: rgb(0, 119, 255)
}

ul {
    list-style: none;
    margin-top: 10px;
}

li {
    text-decoration: none;
    padding: 0 20px;
}

/* START HEADER COMPONENT STYLES */
header {
    padding: 30px 0;
    border-bottom: 1px solid #cecece;
    margin-bottom: 100px;
}

.cart {
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

/* END HEADER COMPONENT STYLES */

/* GALLERY STYLES */
.gallery {
    width: 100%;
    cursor: pointer;
}

.gallery img {
    border-radius: 15px;
}

.gallery__main {
    width: 70%;

}

.gallery__sub {
    width: 20%;
    margin-top: 10px;
}

.gallery__sub--active {
    border: 2px solid yellow;
}

/* END GALLERY STYLES */


/* Counter */
.counter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    transform: translate(-60px, 0px);
}

.counter .counter__amount {
    width: 50px;
    text-align: center;
    border: none;
}

.counter .counter__numbers {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-size: 20px;

}

.counter .counter__numbers button {
    color: #fff;
    font-size: 30px;
    padding: 0px 20px;
    color: var(--primary-color);
    font-weight: 800;

}

.counter .counter__numbers p {
    margin-bottom: 0px !important;
    color: #000;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

/* end counter */